<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	<!--扫描包-->
	<context:component-scan base-package="com.ck.controller"/>
	<!--处理静态资源-->
	<mvc:default-servlet-handler></mvc:default-servlet-handler>
	<!--开启注解驱动，让失效的注解重新生效-->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!--配置jsp的视图解析器-->
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
-->
	<!--配置html解析器-->
	<bean id="thymeleaf" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="/WEB-INF/templates/"/>
		<property name="suffix" value=".html"/>
		<property name="templateMode" value="HTML5"/>
		<property name="characterEncoding" value="UTF-8"/>
	</bean>
	<!--配置模板引擎-->
	<bean id="engine" class="org.thymeleaf.spring5.SpringTemplateEngine">
		<property name="templateResolver" ref="thymeleaf"></property>
	</bean>
	<bean  class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="engine"></property>
		<property name="characterEncoding" value="UTF-8"/>
	</bean>
	<!--<mvc:interceptors>
		&lt;!&ndash;配置验证用户是否登录的拦截器&ndash;&gt;
		<mvc:interceptor>
			<mvc:mapping path="/*"/>
			<bean class="com.ck.intereptor.LoginCheckinterreptor">
				&lt;!&ndash;给该拦截器注入直接放行的请求&ndash;&gt;
				<property name="fangxingUrlList">
					<list>
						<value>/page?page=login</value>
						<value>/login</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>-->
</beans>